<%- include('header'); -%>

<div class="jumbotron">
  <h1 class="display-4">An Error Occured!</h1>
  <p class="lead">Not able to load the data for the city requested.</p>
  <hr class="my-4">
  <p>Try viewing stats for some other city.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Back</a>
  </p>
</div>

<%- include('footer'); -%>
