<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COVID-19 India Tracker</title>

    <link rel="icon" href="images/favicon.svg" type="image/gif" sizes="32x32">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/styles.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/bec3e05df9.js" crossorigin="anonymous"></script>





  </head>
  <body>
      <div class="title">
        <h1 class="heading">COVID-19 India Stats</h1>
        <p class="date"> <%= location.date %> </p>
      </div>



    
